.card {
  background: var(--c-black);
  border-radius: 30px;
  padding: 20px 40px 1px 40px;
}

.media {
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  height: auto;

  border-radius: none;
}
