.card {
  background: var(--c-black);
  border-radius: 30px;
  padding: 20px 40px 1px 40px;
}

.media {
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  height: auto;
}

/* desktop — як у макеті: окрема card справа з округленням */
@media (min-width: 1440px) {
  .card {
    padding: 80px 98px 0 98px;
    margin: 32px 0 32px 0;
    max-width: 600px;
    max-height: 736px;
  }

  .img {
    border-radius: 12px;
  }
}
