.backdrop {
  position: fixed;
  inset: 0;
  background: var(--c-backdrop);
  display: grid;
  place-items: center;
  z-index: 60;
  padding: 20px;
}

.modal {
  width: min(335px, 100%);
  background: var(--c-black);
  border-radius: 12px;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.state {
  margin: 0;
  font-family: var(--second-family);
  font-size: 12px;
  color: var(--c-gray);
}

.media {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cover,
.coverStub {
  width: 140px;
  height: 214px;
  border-radius: 8px;
}

.coverStub {
  background: #d9d9d9;
}

.cover {
  object-fit: cover;
  display: block;
}
.info {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: var(--fw-700);
  color: var(--c-text);
  line-height: 1.2;
  max-width: 260px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.author {
  margin: 0;
  font-size: 12px;
  color: var(--c-gray);
  font-family: var(--second-family);
  line-height: 1.2;
  max-width: 260px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pages {
  margin: 2px 0 0 0;
  font-size: 10px;
  color: var(--c-text);
  font-family: var(--second-family);
  line-height: 1.2;
}

.btn {
  margin: 20px 0 40px;
  padding: 12px 0;
  width: 140px;
  border-radius: 30px;
  border: 1px solid var(--c-gray);
  background: var(--c-black);
  color: var(--c-text);
  font-weight: var(--fw-700);
  font-size: 14px;
  cursor: pointer;
  align-self: center;
}

.btn:hover {
  background: var(--c-text);
  color: var(--c-black);
  transition: background 0.2s ease;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .modal {
    width: min(500px, 100%);
  }

  .media {
    margin-top: 34px;
  }

  .cover,
  .coverStub {
    width: 154px;
    height: 234px;
  }

  .info {
    margin-top: 24px;
    gap: 4px;
  }

  .title {
    font-size: 20px;
    max-width: none;
  }

  .author {
    font-size: 14px;
    max-width: none;
  }

  .pages {
    font-size: 10px;
  }
  .btn {
    min-width: 162px;
    font-size: 16px;
    padding: 14px 28px;
    margin: 46px 0 50px;
  }
}
