.wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoDesktop {
  display: none;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: var(--fw-700);
  line-height: 1;
  letter-spacing: -0.02em;
}

.muted {
  color: var(--c-muted);
}

@media (min-width: 768px) {
  .wrap {
    gap: 156px;
    margin-bottom: 40px;
  }

  .title {
    font-size: 64px;
    line-height: 0.94;
    letter-spacing: -0.02em;
  }
  .logoMobile {
    display: none;
  }

  .logoDesktop {
    display: block;
  }
}

@media (min-width: 1440px) {
  .wrap {
    gap: 72px;
  }
}
