.page {
  min-height: 100vh;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container {
  width: min(
    var(--container-mobile),
    calc(100% - (var(--page-pad-mobile) * 2))
  );
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* DASHBOARD */
.dashboardCard {
  background: var(--c-black);
  border-radius: var(--radius-xl);
  padding: 16px;
}


.recCard {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: var(--radius-lg);
  padding: 14px;
}

.recHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recTitle {
  margin: 0;
  font-size: 14px;
  font-weight: var(--fw-700);
  letter-spacing: -0.02em;
}

.recLink {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

/* strip */
.recStrip {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.recItem {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  min-width: 0;
  width: 100%;
  text-align: left;
}

.recImgWrap {
  width: 100%;
}

.recImg {
  width: 100%;
  height: 107px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.recName {
  margin: 6px 0 0;
  font-size: 10px;
  font-weight: var(--fw-700);
  line-height: 1.2;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recAuthor {
  margin: 2px 0 0;
  font-size: 9px;
  color: rgba(249, 249, 249, 0.45);
  font-family: var(--second-family);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recFooter {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(249, 249, 249, 0.5);
  font-size: 12px;
  font-family: var(--second-family);
}

.recFooterText {
  border-bottom: 1px solid var(--c-gray);
}

.recArrow {
  font-size: 18px;
  line-height: 1;
}

@media (min-width: 768px) {
  .page {
    padding: var(--page-pad-tablet);
  }

  .container {
    width: min(
      var(--container-tablet),
      calc(100% - (var(--page-pad-tablet) * 2))
    );
  }
}

@media (min-width: 1440px) {
  .page {
    padding: var(--page-pad-desktop);
  }

  .container {
    width: min(
      var(--container-desktop),
      calc(100% - (var(--page-pad-desktop) * 2))
    );
  }
}
