.btn {
  height: 40px;
  padding: 0 20px;
  border-radius: 30px;
  border: 1px solid var(--c-border);
  background: transparent;
  color: var(--c-text);
  font-family: var(--font-family);
  line-height: 1.28;
  letter-spacing: 0.02em;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background: var(--c-text);
  color: var(--c-black);
  transition: background 0.2s ease;
}

@media (min-width: 768px) {
  .btn {
    padding: 0 28px;
    font-size: 16px;
  }
}
