.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: var(--container-1440);
    padding: 0 100px;
  }
}
