.card {
  background: var(--c-black);
  border-radius: var(--radius-xl);
  padding: 40px 20px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: var(--fw-700);
  letter-spacing: -0.02em;
}

.left {
  font-size: 10px;
  color: rgba(249, 249, 249, 0.35);
  font-family: var(--second-family);
}

.body {
  max-width: 146px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
}

.media {
  margin-top: 6px;
}

.cover,
.stub {
  width: 138px;
  height: 208px;
  border-radius: 8px;
  object-fit: fill;
  display: block;
}

.stub {
  background: #d9d9d9;
}

.name {
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: var(--fw-700);
  /* max-width: 240px; */

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.author {
  margin: 4px 0 0;
  font-size: 10px;
  color: rgba(249, 249, 249, 0.55);
  font-family: var(--second-family);
  max-width: 240px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.indicatorWrap {
  margin-top: 20px;
}

.indicator {
  width: 46px;
  height: 46px;
  border-radius: 999px;
  border: 2px solid var(--c-text);
  display: grid;
  place-items: center;
}

.inner {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  background: var(--c-error);
}

.active .inner {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .card {
    padding: 40px 40px 24px 40px;
  }

  .title {
    font-size: 28px;
  }

  .body {
    min-width: 400px;
    margin-top: 32px;
  }

  .left {
    font-size: 14px;
  }

  .cover,
  .stub {
    min-width: 168px;
    min-height: 256px;
  }

  .name {
    margin-top: 24px;
    font-size: 20px;
  }

  .author {
    font-size: 14px;
  }

  .indicatorWrap {
    margin-top: 16px;
  }

  .indicator {
    width: 50px;
    height: 50px;
  }

  .inner {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .card {
    min-height: 650px;
    padding-bottom: 52px;
    display: grid;
    align-content: start;
  }

  .cover,
  .stub {
    width: 224px;
    height: 340px;
  }
}
