.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  margin-top: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.submit {
  height: 40px;
  min-width: 132px;
  padding: 0 45px;
  border: 0;
  border-radius: 30px;
  background: var(--c-text);
  border: 1px solid var(--c-text);
  font-size: 14px;
  color: var(--c-black);
  font-weight: var(--fw-700);
  cursor: pointer;
}

.submit:hover {
  background: var(--c-bg);
  color: var(--c-text);
  border: 1px solid var(--c-gray);
  transition:
    background-color 0.3s,
    color 0.3s,
    border 0.3s;
}

.submit:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.link {
  font-size: 12px;
  color: var(--c-gray);
  text-decoration: underline;
  text-underline-offset: 3px;
  font-family: var(--second-family);
}

.link:hover {
  color: var(--c-text);
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .form {
    gap: 14px;
    margin-top: 24px;
  }

  .row {
    margin-top: 132px;
    gap: 20px;
  }

  .submit {
    min-width: 166px;
    min-height: 52px;
    padding: 0 54px;
    font-size: 20px;
  }

  .link {
    font-size: 14px;
  }
}
