.card {
  margin-top: 24px;
  border-radius: 16px;
  padding: 16px 0 20px 0;
}

.head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 14px;
  margin-bottom: 14px;
}

.text {
  display: none;
  margin: 0 0 20px 0;

  width: 100%;
  font-size: 12px;
  line-height: 1.4;
  color: rgba(249, 249, 249, 0.55);
  font-family: var(--font-family);
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: var(--fw-700);
  letter-spacing: -0.02em;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tabBtn {
  width: 34px;
  height: 34px;
  border-radius: 999px;
  border: 1px solid rgba(249, 249, 249, 0.12);
  background: transparent;
  display: grid;
  place-items: center;
  padding: 0;
  cursor: pointer;
  color: rgba(249, 249, 249, 0.9);
}

.tabBtn svg {
  opacity: 0.55;
}

.active {
  border-color: rgba(249, 249, 249, 0.9);
}

.active svg {
  opacity: 1;
}

.text {
  display: none;
}

.progressBody {
  display: grid;
  gap: 20px;
}

.progressText {
  margin: 0;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;

  color: var(--c-gray);
  font-family: var(--font-family);
}

.star {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.03);
  display: grid;
  place-items: center;

  margin: 0 auto;
  background-image: image-set(
    url("/images/star.png") 1x,
    url("/images/star@2x.png") 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px 34px;
}

@media (min-width: 768px) {
  .card {
    margin-top: 0;
    padding: 0px;
    min-height: 255px;
  }

  .progressBody {
    gap: 50px;
    align-content: start;
  }

  .star {
    width: 100px;
    height: 100px;
    background-size: 50px 50px;
  }
}

@media (min-width: 1440px) {
  .card {
    padding: 20px 0;
    min-height: 0;
  }

  .star {
    width: 100px;
    height: 100px;
  }

  .text {
    display: block;
  }
}
