.page {
  display: flex;
  justify-content: center;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 768px) {
  .page {
    padding: var(--page-pad-tablet);
  }

  .stack {
    width: min(
      var(--container-tablet),
      calc(100% - (var(--page-pad-tablet) * 2))
    );
  }
}

@media (min-width: 1440px) {
  .page {
    padding: var(--page-pad-desktop);
  }

  .stack {
    width: min(
      var(--container-desktop),
      calc(100% - (var(--page-pad-desktop) * 2))
    );
  }
}
