.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(20, 20, 20, 0.55);
  display: grid;
  place-items: center;
  z-index: 80;
  padding: 20px;
}

.modal {
  width: min(335px, 100%);
  background: var(--c-black);
  border-radius: 12px;
  padding: 24px 16px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: 0;
  background: transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.icon {
  width: 68px;
  height: 68px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.03);

  background-image: image-set(
    url("/images/books.png") 1x,
    url("/images/books@2x.png") 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 44px 44px;

  margin-top: 10px;
}

.title {
  margin: 14px 0 8px;
  font-size: 18px;
  font-weight: var(--fw-700);
}

.text {
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  font-family: var(--second-family);
  color: rgba(249, 249, 249, 0.55);
  max-width: 260px;
}

@media (min-width: 768px) {
  .modal {
    width: min(342px, 100%);
  }
}
