.backdrop {
  position: fixed;
  inset: 0;
  background: var(--c-backdrop);
  display: flex;
  justify-content: flex-end;
  z-index: 50;
}

.panel {
  width: 210px;
  height: 100%;
  background: #262626;

  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: 34px;
  right: 40px;
  border-radius: 999px;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: var(--c-text);
  display: grid;
  place-items: center;
}

.nav {
  margin-top: 280px; /* як на макеті – меню по центру */
  display: flex;
  justify-content: center;
}

.bottom {
  margin-top: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
