.header {
  height: 54px;
  border-radius: 15px;
  background: var(--c-black);
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userBtn {
  width: 38px;
  height: 38px;
  border-radius: 999px;
  background: rgba(249, 249, 249, 0.06);
  border: 1px solid rgba(249, 249, 249, 0.1);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.userDot {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  border: 1px solid rgba(249, 249, 249, 0.35);
}

.burgerBtn {
  width: 38px;
  height: 38px;
  border-radius: 999px;
  background: transparent;
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--c-text);
}
