.header {
  height: 54px;
  border-radius: 15px;
  background: var(--c-black);
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
}

.left {
  display: flex;
  align-items: center;
  gap: 14px;
  min-width: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navInline {
  display: none;
}

.logoutInline {
  display: none;
}

.userFull {
  display: none;
}
.userCompact {
  display: inline-flex;
}

.burgerBtn {
  width: 38px;
  height: 38px;
  border-radius: 999px;
  background: transparent;
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--c-text);
}

@media (min-width: 1440px) {
  .navInline {
    display: block;
  }

  .logoutInline {
    display: block;
  }

  .userFull {
    display: inline-flex;
  }

  .userCompact {
    display: none;
  }

  .burgerBtn {
    display: none;
  }
}
