.header {
  height: 54px;
  border-radius: 15px;
  background: var(--c-black);

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 0 14px;
  margin: 20px 20px 0;
}

.left {
  display: flex;
  align-items: center;
  min-width: 0;
}

.logoIcon {
  display: flex;
  align-items: center;
}

.logoFull {
  display: none;
  align-items: center;
}

.center {
  display: none;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.logoutInline {
  display: none;
}

.userTablet {
  display: inline-flex;
}

.userDesktop {
  display: none;
}

.burgerBtn {
  width: 38px;
  height: 38px;
  border-radius: 999px;
  background: transparent;
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--c-text);
}

@media (min-width: 768px) {
  .header {
    height: 74px;
    padding: 0 16px;

    margin: 20px auto 0;
    width: min(var(--container-max), calc(100% - 40px));
  }

  .center {
    display: flex;
    margin-left: 94px;
  }

  .logoutInline {
    display: block;
  }
  .burgerBtn {
    display: none;
  }

  .userTablet {
    display: inline-flex;
  }

  .userDesktop {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header {
    width: min(var(--container-max), calc(100% - 40px));
  }

  .center {
    margin-left: 0;
  }

  .logoIcon {
    display: none;
  }

  .logoFull {
    display: flex;
  }

  .userTablet {
    display: none;
  }

  .userDesktop {
    display: inline-flex;
  }
}
