.block {
  display: flex;
  flex-direction: column;
}

.labelTop {
  margin: 0 0 8 14px;
  font-size: 10px;
  color: var(--c-text);
  font-family: var(--second-family);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  max-width: 92px;
  padding: 10px 0;
  border-radius: 999px;
  border: 1px solid var(--c-border);
  background: transparent;
  color: var(--c-text);
  font-weight: var(--fw-700);
  font-size: 14px;
  line-height: 1.125;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .labelTop {
    font-size: 14px;
  }

  .btn {
    min-width: 114px;
    padding: 12px 28px;
  }
}

@media (min-width: 1440px) {
  .btn {
    padding: 12px 0;
    font-size: 16px;
  }
}
